__pycache__
__pycache__/
*.ipynb
model/
*.empty
.ipynb_checkpoints
.ipynb_checkpoints/
ckpt/
temp*
PDTB_dataset/PDTB_3.0/
*.pt
*/checkpoint/*
*/pred_result/*
*/EDiTS_datasets/*
checkpoint/*
pred_result/*
*/nohup/*
*.txt
*.tsv
*.out